<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>分期报表页面</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-
scale=1.0">
<link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{../css/frame.css}">
<link rel="stylesheet" th:href="@{../css/addClass.css}">
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#queryData").click(function() {
			location.href = "reportForm";
		});

	});
</script>
</head>
<body>
	<div class="frame-header">
		<span class="page-reload cur">分期报表页面</span>
	</div>
	<!--表格-->
	<div class="table-wrapper pl27 " style="min-width: 1000px;">
		<table class="table text-center">
			<thead>
				<tr>
					<th class="sort cur" style="width: 10%;">用户<img class="bottom"
						src="../img/jt-bottom.png" alt=""> <img class="top"
						style="display: none" src="../img/jt-right-co.png" alt="">
					</th>
					<th class="sort cur" style="width: 5%;">分期总金额<img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
					<th style="width: 5%;" class="sort cur">分期期数 <img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
					<th style="width: 5%;" class="sort cur">单期手续费<img class="bottom"
						src="../img/jt-bottom.png" alt=""> <img class="top"
						style="display: none" src="../img/jt-right-co.png" alt="">
					</th>
					<th style="width: 5%;" class="sort cur">每期应还 <img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
					<th style="width: 5%;" class="sort cur">已还期数 <img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
					<th style="width: 5%;" class="sort cur">提醒次数 <img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
					<th style="width: 5%;" class="sort cur">创建时间 <img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
					<th style="width: 5%;" class="sort cur">更新时间 <img
						class="bottom" src="../img/jt-bottom.png" alt=""> <img
						class="top" style="display: none" src="../img/jt-right-co.png"
						alt="">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bystages:${userList}">
					<td th:text="${bystages.credid}"></td>
					<td th:text="${bystages.totalmoney}"></td>
					<td th:text="${bystages.totalmonth}"></td>
					<td th:text="${bystages.rate}"></td>
					<td th:text="${bystages.monthsend}"></td>
					<td th:text="${bystages.endsendMonthnum}"></td>
					<td th:text="${bystages.remindnum}"></td>
					<td th:text="${#dates.format(bystages.createtime,'yyyy-MM-dd')}"></td>
					<td th:text="${#dates.format(bystages.updatetime,'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
		<div class="modal-footer">
			<button type="button" id="queryData" class="btn btn-primary">导出报表</button>
		</div>
	</div>

</body>
</html>