<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>修改密码</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/frame.css">
        <link rel="stylesheet" href="/css/addClass.css">
        <style type="text/css">
            .maindir{
                width: 1000px;
                margin-left: : 50px;
                text-align: center;
            }
            tr{
                height: 50px;
                text-align: center;
            }
            .changepwd{
              width: 700px;
              text-align: center;
              margin-left: center;
            }
        </style>
    </head>
    <body>
        <dir id="maindir" class="maindir">
           <table class="cardlist" id="cardlist" style="width: 800px; text-align: center;" border="1px" >
               <tr style="font-weight: bold;">
                   <td>信用卡序号</td>
                   <td>卡号</td>
                   <td>是否为主卡</td>
                   <td>卡状态</td>
                   <td>办卡时间</td>
                   <td>总额度</td>
                   <td>原来的卡</td>
               </tr>
               <tr >
                   <td><span th:text="${creditCard?.id}">2131431</span></td>
                   <td><span th:text="${creditCard?.cardNumber}">2131431</span></td>
                   <td><span th:text="${creditCard?.ifMain}">2131431</span></td>
                   <td><span th:text="${creditCard?.state}">2131431</span></td>
                   <td><span th:text="${creditCard?.createTime}">2131431</span></td>
                   <td><span th:text="${creditCard?.totalQuota}">2131431</span></td> 
                   <td><span th:text="${creditCard?.replaceCardNumber}">2131431</span></td>
               </tr>
           </table>
           <div id="changepwd" class="changepwd">
            <h2>修改密码</h2>
              <form id="changePasswdForm" action="/confirmchangepassword.do" method="post">
              <input type="hidden" id="id" name="id" th:value="${creditCard.id}" />
              <span th:text="${message}" style="color: red;"></span>
                <table>
                  <tr>
                    <td>旧密码：</td>
                    <td><input type="" name="oldpassword"></td>
                  </tr>
                  <tr>
                    <td>新密码：</td>
                    <td><input type="" name="newpassword"></td>
                  </tr>
                  <tr>
                    <td>确认密码：</td>
                    <td><input type="" name="confirmpassword"></td>
                  </tr>
                </table>   
                <input type="submit" value="确认修改">
              </form>           
            </div>
        </dir>
    </body>
    <script src="/js/plugin/jquery/jquery.js"></script>
    <script src="/js/frame-base.js"></script>
    <script type="text/javascript">
        
    </script>
</html>