<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理中心</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/frame.css">
    <link rel="stylesheet" href="../css/addClass.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
 <div class="frame-header"><span class="page-reload cur">管理中心</span></div>
       
        <!--表格-->
        <div class="table-wrapper pl27 "  style="min-width:790px;">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 80px;">
                        </th>
                        <th style="width: 80px;" class="sort cur">今日
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                        <th class="sort cur" style="width: 80px;">本周
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                        <th class="sort cur" style="width: 80px;">本月
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                        <th class="sort cur" style="width: 80px;">本年
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                        <th class="no-nowrap sort cur" style="width: 80px;">去年
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                        <th class="no-nowrap sort cur" style="width: 80px;">累计
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                        <th class="no-nowrap sort cur" style="width: 80px;">待审核
                            <img class="bottom" src="../img/jt-bottom.png" alt="">
                            <img class="top" style="display: none" src="../img/jt-right-co.png" alt="">
                        </th>
                       

                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p><b>用户注册</b></p></td>
                        <td><p>200</p></td>
                        <td><p>300</p></td>
                        <td><p>400</p></td>
                        <td><p>30,000</p></td>
                        <td><p>60,000</p></td>
                        <td><p>120,000</p></td>
                        <td><a class="h" href="main.html">12</a></td>                   
                    </tr>
                     <tr class="info">
                        <td><p><b>商户注册</b></p></td>
                       <td><p>200</p></td>
                        <td><p>300</p></td>
                        <td><p>400</p></td>
                        <td><p>30,000</p></td>
                        <td><p>60,000</p></td>
                        <td><p>120,000</p></td>
                       <td><a class="h" href="main.html">12</a></td>                 
                    </tr>
                     <tr>
                        <td><p><b>用户订单</b></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                   
                    </tr>
                     <tr class="info">
                        <td><p><b>消费金额</b></p></td>
                         <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                    
                    </tr>
                     <tr>
                        <td><p><b>短信通知</b></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                   
                    </tr>
                  
                </tbody>
                <tbody>
                     <tr>
                        <td><p><b>点评次数</b></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                   
                    </tr>
                     <tr class="info">
                        <td><p><b>留言条数</b></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                     
                    </tr>
                     <tr>
                        <td><p><b>预付笔数</b></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                   
                    </tr>
                     <tr class="info">
                        <td><p><b>取消笔数</b></p></td>
                         <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                    
                    </tr>
                     <tr>
                        <td><p><b>退款笔数</b></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>
                        <td><p></p></td>                   
                    </tr>
                </tbody>
            </table>
          
        </div>
        <!--表格-->
        <!-- table-message -->
        <div class="table-message clearfix">
            <div style="overflow:hidden;">
                <!-- table-message-list -->
                <div class="table-message-list clearfix">
                    <div class="list-title clearfix">
                        <p><img src="../img/icon_message.png" width="18" height="15" alt="">微信公众号</p>
                        <a href="#">更多>></a>
                    </div>
                    <div class="list-cont clearfix">
                        <ul>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                        </ul>
                    </div>
                 </div>
                 <!-- table-message-list -->
                 <!-- table-message-list -->
                <div class="table-message-list clearfix" style="margin-right: 0;">
                    <div class="list-title clearfix">
                        <p><img src="../img/icon_message.png" width="18" height="15" alt="">商户通知</p>
                        <a href="#">更多>></a>
                    </div>
                    <div class="list-cont clearfix">
                        <ul>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                            <li><a href="#">[2018-10-08] 说明书明明是什么模式吗什么？</a></li>
                        </ul>
                    </div>
                 </div>
                 <!-- table-message-list -->
            </div>
            
        </div>
        <!-- table-message -->

</body>
<script src="../plugin/jquery/jquery.js"></script>
<script src="../js/frame-base.js"></script>
<script>

</script>
</html>