<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>点菜宝贝，后台管理系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/addClass.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
    <!-- common-head -->
    <div class="common-head clearfix">
        <a class="logo" href="/index.do">
            <img src="img/logo.png" alt="">
        </a>
        <!-- <div class="info clearfix">
            <a href="#">站点首页</a> |
            <a href="#">更新首页缓存</a>
        </div> -->
        <div class="right pull-right text-right" id="hovpad">
            <dl class="user-wrapper">
                <dt>
                	<span th:text="|欢迎您,管理员${session.loginInfo.id}|"></span>
                	<span id="usertype" th:text="${session.loginInfo.usertype}" hidden="hidden"></span>
                	<img src="img/headjt.png" alt="">
                	<img class="active" src="img/headjt-active.png" alt="">
                </dt>
                <dd>
                    <div class="head clearfix">
                        <a href="">我的账户</a>
                        <span></span>
                        <a href="/login.html">安全退出</a>
                    </div>
                    <ul>
                        <li>登陆：100&nbsp;次</li>
                        <li>下单：1000&nbsp;次</li>
                        <li>审单：1000&nbsp;次</li>
                        <li>好评：1000&nbsp;次</li>
                        <li>积分：1000&nbsp;分</li>
                        <li>星级：
                            <img src="img/star.png" alt="">
                            <img src="img/star.png" alt="">
                            <img src="img/star-ban.png" alt="">
                            <img src="img/star-hui.png" alt="">
                            <img src="img/star-hui.png" alt="">
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="msg-wrapper">
                <dt class="clearfix">
                	<img src="img/msg.png" alt="">
                	<img class="active" src="img/msg-active.png" alt="">
                	<span> 消息 </span>
                	<span class="tag">320</span>
                </dt>
                <dd>
                    <a href="">交易通知：<span>123</span></a>
                    <a href="">系统通知：<span>123</span></a>
                    <a href="">系统消息：<span>123</span></a>
                </dd>
            </dl>
        </div>
    </div>
    <!-- common-head -->
        <!--侧栏-->
    <div class="side-bar">
        <div class="content">
        
            <!-- <dl>
                <dt style="border-top: none;">
                	用户管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#/userList.do">用户列表  <i class="lo">12</i> </a>
                    <a href="#/communication.do">通讯信息 </a>
                    <a href="#/loginInfo.do">登录信息 </a>
                </dd>
            </dl>
            <dl>
                <dt >
                	商户管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#/shopList.do">商户列表 </a>
                    <a href="#/loginUser.do">登录账号 </a>
                    <a href="#/loginCode.do">登录记录 </a>
                    <a href="#/aptitudeInfo.do">资质信息 </a>
                    <a href="#">商户设置 </a>
                </dd>
            </dl> -->
            
            
            <dl>
                <dt >
                	客户端申请管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#/cartapplicationlist.do">申请办卡 </a>
                    <!-- <a href="#/adjustamountapply.do">申请升额</a> -->
                </dd>
            </dl>
            <dl>
                <dt>
                	单个用户管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#/userinfo.do">基本信息</a>
                    <a href="#/cardListActivity.do">信用卡激活 </a>
                    <a href="#/cardListForChangePwd.do">更改密码 </a>
                    <a href="#/cardListForadjustamount.do">调整额度 </a>
                	<a href="#/cardListForLoss.do">信用卡挂失 </a>
                    <a href="#/cardListForreapply.do">信用卡补办 </a>
                    <a href="#/cardListForlogout.do">信用卡注销 </a>
                </dd>
            </dl>
            <dl>
                <dt>
                	批量用户管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#/stageUserList.do" >分期用户管理 </a>
                    <a href="#/queryOverFlows.do">逾期用户管理 </a>
                    <a href="#/queryAllUserlist.do">批量短信发送 </a>
                    <a href="#/queryBlacklist.do">黑名单管理 </a>
                </dd>
            </dl>
            
            <dl>
                <dt>
                	员工管理
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#yuanGong" >员工管理中心 </a>
                    <a href="#addLogin" >添加员工 </a>
                </dd>
            </dl>
            <dl>
                <dt>
                	报表管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#reportFormXls" id="queryData">打印分期报表 </a> 
					<a href="#billXls" id="userDel">打印客户变动报表</a>
					<a href="javascript:void(0);" id="shuJuXiang" onclick="change()">数据字典管理</a>
					
					<dl>
		                <dt>
		                	数据字典管理 
		                	<img class="b" src="img/jt-right-co.png" alt="">
		                	<img class="r" src="img/jt-bottom.png" alt="">
		                </dt>
		                <dd th:each="Sysdictionary:${listSysdictionaries}">
		                   <a th:href="@{#sysdictionarys(id=${Sysdictionary.id},name=${Sysdictionary.name})}" th:text="${Sysdictionary.name}"></a>
		                </dd>
		            </dl>
					
                </dd>
            </dl>
            <!-- <dl>
                <dt>
                	数据字典管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd th:each="Sysdictionary:${listSysdictionaries}">
                   <a th:href="@{#sysdictionarys(id=${Sysdictionary.id},name=${Sysdictionary.name})}" th:text="${Sysdictionary.name}"></a>
                </dd>
            </dl> -->
            
           <!--  <dl>
                <dt>
                	安全管理 
                	<img class="b" src="img/jt-right-co.png" alt="">
                	<img class="r" src="img/jt-bottom.png" alt="">
                </dt>
                <dd>
                    <a href="#">基本信息 </a>
                    <a href="#">密码设置 </a>
                </dd>
            </dl> -->
            
        </div>
    </div>
    <!--内容部分-->
    <div id="main" >
        <div   style="-webkit-overflow-scrolling:touch;overflow:auto;height: 100%;">
            <iframe class="scroll"  src="" id="ghrzFrame"  frameborder="no" border="0"></iframe>
        </div>
    </div>
</body>
<script src="js/jquery-1.11.3.js"></script>
        

<script>
	function load(){
		window.location.href = "shuJuXiang"; 
	};
	
	function change(){
		var usertype = document.getElementById("usertype").innerText;
		if(usertype == 2){
			window.location.href = "shuJuXiang";
		}else{
			alert("你不是超级管理员，无法操作");
		}
		 /* $('#shuju').style.visibility="visible"; */
		 /* document.getElementById("shuju").style.visibility="hidden"; */
		 /* document.getElementById("EleId").style.visibility="visible"; */
		/* document.getElementById("shuju").style.display = 'inline'; */
	}
	
	/*window.οnlοad = load(); */
//首次加载至url
var u = window.location.href.split('#')[1];
$('#main iframe').attr('src',u);
$('.side-bar dd a[href="#'+ $('#main iframe').attr('src') + '"]').addClass('active');


//侧栏菜单
$(function() {
    $('.side-bar dt').click(function() {
        var dd = $(this).siblings('dd');
        dd.slideToggle();
        $(this).find('.b').toggle()
        $(this).find('.r').toggle()
    });
    $('.side-bar dd a').click(function() {
        $('.side-bar dd a').removeClass('active');
        $(this).addClass('active');
        //页面显示控制
        var url = $(this).attr('href').substring(1);
        var f = $('#main iframe');
        f.attr('src', url);
    });
});

$('#hovpad dl').on('click', function(e) {
    var dd = $(this).find('dd');
    if (dd.css('display') === 'none') {
        dd.show();
        $(this).addClass('active');
    } else {
        dd.hide();
        $(this).removeClass('active');
    }
    e.stopPropagation();
});
$('#hovpad dl').hover(function(e) {
    var dd = $(this).find('dd');
    dd.show();
    $(this).addClass('active');
}, function(e) {
    var dd = $(this).find('dd');
    dd.hide();
    $(this).removeClass('active');
})
$('body').on('click', function() {
    $('#hovpad dl').removeClass('active');
})

    
</script>




</html>